USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 2/26/2021 9:43:14 PM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QLTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\QLTV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[tblBaoCaoMuonSachTheTheLoai]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBaoCaoMuonSachTheTheLoai](
	[mabaocaotinhhinhmuonsachtheotheloai] [int] NOT NULL,
	[thangbaocao] [date] NULL,
	[tongsoluotmuon] [int] NULL,
 CONSTRAINT [PK_tblBaoCaoMuonSachTheTheLoai] PRIMARY KEY CLUSTERED 
(
	[mabaocaotinhhinhmuonsachtheotheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai](
	[mabaocaochitiettinhhinhmuonsachtheotheloai] [int] NOT NULL,
	[soluotmuon] [int] NULL,
	[tile] [float] NULL,
	[mabaocaotinhhinhmuonsachtheotheloai] [int] NULL,
	[matheloaisach] [int] NULL,
 CONSTRAINT [PK_tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai] PRIMARY KEY CLUSTERED 
(
	[mabaocaochitiettinhhinhmuonsachtheotheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietPhieuMuonSach]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPhieuMuonSach](
	[machitietphieumuonsach] [nvarchar](50) NOT NULL,
	[masach] [nvarchar](50) NULL,
	[maphieumuonsach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblChiTietPhieuMuonSach] PRIMARY KEY CLUSTERED 
(
	[machitietphieumuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDocGia]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocGia](
	[madocgia] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[maloaidocgia] [int] NULL,
	[ngaysinh] [datetime2](7) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[ngaylapthe] [datetime2](7) NULL,
	[ngayhethan] [datetime2](7) NULL,
 CONSTRAINT [PK_tblDocGia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiDocGia]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiDocGia](
	[maloaidocgia] [int] NOT NULL,
	[tenloaidocgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLoaiDocGia] PRIMARY KEY CLUSTERED 
(
	[maloaidocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuMuonSach]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuMuonSach](
	[maphieumuonsach] [nvarchar](50) NOT NULL,
	[ngaymuonsach] [datetime2](7) NULL,
	[madocgia] [nvarchar](50) NULL,
	[ngaytrasach] [datetime2](7) NULL,
 CONSTRAINT [PK_tblPhieuMuonSach] PRIMARY KEY CLUSTERED 
(
	[maphieumuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuTraSach]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuTraSach](
	[maphieumuonsach] [nvarchar](50) NOT NULL,
	[ngaytrasach] [datetime2](7) NULL,
 CONSTRAINT [PK_tblPhieuTraSach] PRIMARY KEY CLUSTERED 
(
	[maphieumuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblQuyDinh]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyDinh](
	[id] [int] NOT NULL,
	[tuoitoithieu] [int] NOT NULL,
	[tuoitoida] [int] NOT NULL,
	[thoihansudung] [int] NOT NULL,
	[khoangcachxuatban] [int] NOT NULL,
	[songaymuontoida] [int] NOT NULL,
	[sosachmuontoida] [int] NOT NULL,
 CONSTRAINT [PK_tblQuyDinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSach]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSach](
	[masach] [nvarchar](50) NOT NULL,
	[tensach] [nvarchar](50) NULL,
	[matheloaisach] [int] NULL,
	[matacgia] [int] NULL,
	[namxuatban] [int] NULL,
	[nhaxuatban] [nvarchar](50) NULL,
	[ngaynhap] [datetime2](7) NULL,
	[trigia] [int] NULL,
	[tinhtrangsach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblSach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTacGia]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTacGia](
	[matacgia] [int] NOT NULL,
	[tentacgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTacGia2] PRIMARY KEY CLUSTERED 
(
	[matacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTheLoaiSach]    Script Date: 2/26/2021 9:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoaiSach](
	[matheloaisach] [int] NOT NULL,
	[tentheloaisach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTheLoaiSach] PRIMARY KEY CLUSTERED 
(
	[matheloaisach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblChiTietPhieuMuonSach] ([machitietphieumuonsach], [masach], [maphieumuonsach]) VALUES (N'180003', N'1003', N'180003')
INSERT [dbo].[tblChiTietPhieuMuonSach] ([machitietphieumuonsach], [masach], [maphieumuonsach]) VALUES (N'180004', N'1004', N'180003')
INSERT [dbo].[tblChiTietPhieuMuonSach] ([machitietphieumuonsach], [masach], [maphieumuonsach]) VALUES (N'180005', N'1008', N'180003')
GO
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe], [ngayhethan]) VALUES (N'18000000', N'Đỗ Thành Nhân', 1, CAST(N'1999-06-25T00:00:00.0000000' AS DateTime2), N'Dĩ An, Bình Dương', N'nhan123@gmail.com', CAST(N'2009-06-25T00:00:00.0000000' AS DateTime2), CAST(N'2009-12-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe], [ngayhethan]) VALUES (N'18000001', N'Đỗ Thành Lộc', 1, CAST(N'1998-06-25T21:45:23.0000000' AS DateTime2), N'B11/17', N'loc@gmail.com', CAST(N'2018-06-25T00:00:00.0000000' AS DateTime2), CAST(N'2018-12-25T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe], [ngayhethan]) VALUES (N'18000002', N'Lê Khắc Hậu Linh', 1, CAST(N'1998-06-25T22:08:19.0000000' AS DateTime2), N'B11/17', N'haulinhlk@gmail.com', CAST(N'2009-06-25T00:00:00.0000000' AS DateTime2), CAST(N'2018-12-25T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (1, N'Học sinh')
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (2, N'Giáo viên')
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (3, N'Giám đốc')
GO
INSERT [dbo].[tblPhieuMuonSach] ([maphieumuonsach], [ngaymuonsach], [madocgia], [ngaytrasach]) VALUES (N'180001', CAST(N'2018-06-25T00:00:00.0000000' AS DateTime2), N'18000001', CAST(N'2018-06-29T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblPhieuMuonSach] ([maphieumuonsach], [ngaymuonsach], [madocgia], [ngaytrasach]) VALUES (N'180002', CAST(N'2018-07-02T00:00:00.0000000' AS DateTime2), N'18000002', CAST(N'2018-07-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblPhieuMuonSach] ([maphieumuonsach], [ngaymuonsach], [madocgia], [ngaytrasach]) VALUES (N'180003', CAST(N'2018-07-02T00:00:00.0000000' AS DateTime2), N'18000001', CAST(N'2018-07-06T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[tblPhieuTraSach] ([maphieumuonsach], [ngaytrasach]) VALUES (N'180001', CAST(N'2018-07-02T10:12:04.1830000' AS DateTime2))
INSERT [dbo].[tblPhieuTraSach] ([maphieumuonsach], [ngaytrasach]) VALUES (N'180002', CAST(N'2018-07-02T10:09:33.8330000' AS DateTime2))
INSERT [dbo].[tblPhieuTraSach] ([maphieumuonsach], [ngaytrasach]) VALUES (N'180003', CAST(N'2018-06-30T10:36:04.0000000' AS DateTime2))
GO
INSERT [dbo].[tblQuyDinh] ([id], [tuoitoithieu], [tuoitoida], [thoihansudung], [khoangcachxuatban], [songaymuontoida], [sosachmuontoida]) VALUES (1, 18, 35, 6, 8, 4, 5)
GO
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [matacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'1000', N'Trà Hoa Nữ', 1, 2, 2002, N'iran', CAST(N'2018-06-25T10:06:00.7730000' AS DateTime2), 300000, N'Chưa được mượn')
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [matacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'1001', N'tình yêu xxxx', 1, 3, 2002, N'Pháp', CAST(N'2018-06-27T20:36:16.1730000' AS DateTime2), 1230000, N'Chưa được mượn')
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [matacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'1002', N'tình yêu abc', 1, 1, 2016, N'Thiên Triều', CAST(N'2018-06-27T23:20:57.5830000' AS DateTime2), 123, N'Chưa được mượn')
GO
INSERT [dbo].[tblTacGia] ([matacgia], [tentacgia]) VALUES (0, N'Không có')
INSERT [dbo].[tblTacGia] ([matacgia], [tentacgia]) VALUES (1, N'Xuân Diệu')
INSERT [dbo].[tblTacGia] ([matacgia], [tentacgia]) VALUES (2, N'Hồ Xuân Hương')
GO
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (0, N'Không có')
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (1, N'Ngôn tình ')
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (2, N'Khoa học ')
GO
ALTER TABLE [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai_tblBaoCaoMuonSachTheTheLoai] FOREIGN KEY([mabaocaotinhhinhmuonsachtheotheloai])
REFERENCES [dbo].[tblBaoCaoMuonSachTheTheLoai] ([mabaocaotinhhinhmuonsachtheotheloai])
GO
ALTER TABLE [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai] CHECK CONSTRAINT [FK_tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai_tblBaoCaoMuonSachTheTheLoai]
GO
ALTER TABLE [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai_tblTheLoaiSach] FOREIGN KEY([matheloaisach])
REFERENCES [dbo].[tblTheLoaiSach] ([matheloaisach])
GO
ALTER TABLE [dbo].[tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai] CHECK CONSTRAINT [FK_tblChiTietBaoCaoTinhHinhMuonSachTheoTheLoai_tblTheLoaiSach]
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblPhieuMuonSach] FOREIGN KEY([maphieumuonsach])
REFERENCES [dbo].[tblPhieuMuonSach] ([maphieumuonsach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach] CHECK CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblPhieuMuonSach]
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblSach] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSach] ([masach])
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach] CHECK CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblSach]
GO
ALTER TABLE [dbo].[tblDocGia]  WITH CHECK ADD  CONSTRAINT [FK_tblDocGia_tblLoaiDocGia] FOREIGN KEY([maloaidocgia])
REFERENCES [dbo].[tblLoaiDocGia] ([maloaidocgia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDocGia] CHECK CONSTRAINT [FK_tblDocGia_tblLoaiDocGia]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [FK_tblSach_tblTacGia] FOREIGN KEY([matacgia])
REFERENCES [dbo].[tblTacGia] ([matacgia])
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [FK_tblSach_tblTacGia]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [FK_tblSach_tblTheLoaiSach] FOREIGN KEY([matheloaisach])
REFERENCES [dbo].[tblTheLoaiSach] ([matheloaisach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [FK_tblSach_tblTheLoaiSach]
GO
USE [master]
GO
